<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/detailpage.css">
    <script src="/scripts/detailpage.js" defer></script>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Sixtyfour:SCAN@5&display=swap"
          rel="stylesheet">
    <title>funda Detailpage</title>
</head>
<body>
<header class="header-menu">

    <img alt="logo funda" class="log-funda" src="/assets/fundawonen-logo.svg">

    <button class="hamburger-icon" type="button"><img alt="menu icoon" src="/assets/icons/mobileMenu.svg">
    </button>
    <nav class="menu">

        <ul class="menu-ul" role="menu">
            <li>
                <img alt="logo funda" class="log-funda-seoncd" src="/assets/fundawonen-logo.svg">

            </li>
            <li class="li-tems-menu"><a class="menu-link" href="#" role="menuitem">kopen</a></li>
            <li class="li-tems-menu"><a class="menu-link" href="#" role="menuitem">huren</a></li>
            <li class="li-tems-menu"><a href="/" role="menuitem">koop heel nederland</a>
            <li class="li-tems-menu"><a href="/favorite-list/" role="menuitem">favorite houses</a>
            <li class="li-tems-menu"><a class="menu-link" href="#" role="menuitem">verkopen</a></li>
            <li class="li-tems-menu"><a class="menu-link" href="#" role="menuitem">Mijn huis</a>

            </li>
            <li class="li-tems-menu iconlogin">
                <button type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                         height="24" fill="currentColor"
                         role="presentation"
                         viewBox="0 0 48 48"
                         class="flex md:mr-1 -mt-1 md:inline">
                        <path d="M24 9a8 8 0 108 8 8 8 0 00-8-8zm0 13a5 5 0 115-5 5 5 0 01-5 5z"></path>
                        <path d="M24 3a21 21 0 1021 21A21 21 0 0024 3zm-9 36.56V35c0-2.45 2.12-4.48 4.91-4.91A7.16 7.16 0
                 0121 30h6a7.16 7.16 0 011.09.09C30.88 30.52 33 32.55 33 35v4.56a17.85 17.85 0 01-18 0zm21-2.19
                 V34.5a1.48 1.48 0 00-.06-.4c-.5-4-4.31-7.1-8.94-7.1h-6c-4.63 0-8.44 3.11-8.94 7.1a1.48 1.48 0
                  00-.06.4v2.88a18 18 0 1124 0z"></path>
                    </svg>
                </button>
            </li>
        </ul>


    </nav>
</header>