@font-face {
    font-family: "proximanova";
    src: url("/assets/font/ProximaNova-Regular_2607783814.otf");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: proximanova, sans-serif;
    width: 100%;
}

* {
    box-sizing: border-box;
}

/*https://brand.funda.nl/d/d9gw4zTPqYFU/brand-guide?#/basics-1/kleur*/
/*general*/
:root {
    --blue: #0042B3; /*huisstijl #0071B3 orgineel*/
    --white: #ffffff;
    --orange: #F7A100;
    --black: #333333;

    --margin-input-fields: 0 0 1em 0;
    --margin-2-em: 2em;
}


header {
    background-color: var(--orange
    );
    position: relative;
    color: var(--black);

}

.log-funda {
    width: 150px;

}

.menu-ul, .menu-ul-second {
    display: none;
}


.menu-ul-open {
    display: block;
    margin: 1em 0 0 0;
}

.menu-ul-second-open {
    margin: -1em 0 0 0;

}

.header-menu-open {
    height: 15em;
}

.hamburger-icon {
    position: relative;
    left: 2em;
    background-color: var(--orange);
    top: -1em
}

.login-button {
    background-color: var(--orange);
}

.iconlogin {
    margin-bottom: 2em;
}

.border-bottom {
    border-bottom: solid #dddddd;
    margin-bottom: 3em;

}

.hamburger-icon:hover {
    background-color: var(--blue);
}

.menu-link {
    color: var(--black);
    text-decoration: none;
}

a:hover {
    text-decoration-line: underline;
}

.search-tekst {
    font-size: 1.4em;
}

article {
    border: 1px solid #ddd;
    margin: 0 2em 2em 0;

}

.image-size {
    width: 200px;
}

.beschrijving {
    font-size: 1.2em;
}

li {
    list-style-type: none;
}

.border-top {
    /*border-bottom: solid #dddddd;*/
    margin-top: 1em;
}


@media only screen and (max-width: 650px) {
    .menu {
        background-color: var(--orange
        );
    }

    .log-funda-seoncd {
        display: none;
    }

    .menu {
        display: flex;
        align-items: center;
    }


}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (min-width: 650px) {
    header {
        background-color: var(--orange);
        display: flex;
        align-items: center;
        color: var(--black);
        max-width: 100%;
        justify-content: space-between;
        height: 5em;
    }

    .log-funda {
        top: -5px
    }

    .iconlogin {
        margin-bottom: 0em;
    }

    .menu {
        margin-left: auto;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-ul {
        display: flex;
        row-gap: 1em;
        flex-direction: row;

    }

    .header-menu a.log-funda {
        margin: 0 1em 0 0;

    }

    .li-tems-menu {
        margin: 0 13px 0 0;
    }

    .header-menu a.log-funda {
        margin: 0 2em 0 0;
    }

    .menu {
        display: flex;
    }

    .hamburger-icon, .log-funda-seoncd {
        display: none;
    }
}

.favorite-section-search {
    border-bottom: solid #dddddd;
    margin: 0 2em 0 0;


}

.styling-houses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 1em 0 0 0.2em;
    grid-gap: 44px;

}

.styling-searchbutton {
    background-color: var(--orange);
    border: none;
    font-size: 1.2em;
}


.houses-saved-border-top {
    margin: 2em 0 0 0.2em;
}

.price {
    font-size: 1.3em;
}

#filters {
    margin: 0 0 2em 0;
    font-size: 0.9em;
}

.favorte-houses {
    display: grid;
    grid-row-gap: 8px;
}

.second-section-database, .favorite-section-search {
    margin: 2em 3em 0 2em;
}

.list {
    line-height: 1.5em;
}

.grid-infomarition {
    margin-left: -2.4em;
}


