@font-face {
    font-family: "proximanova";
    src: url("/public/assets/font/ProximaNova-Regular_2607783814.otf");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: proximanova, sans-serif;
    width: 100%;
}

* {
    box-sizing: border-box;
}

/*https://brand.funda.nl/d/d9gw4zTPqYFU/brand-guide?#/basics-1/kleur*/
/*general*/
:root {
    --blue: #0042B3; /*huisstijl #0071B3 orgineel*/
    --white: #ffffff;
    --orange: #F7A100;
    --black: #333333;
    --gray: #dddddd;

    --margin-input-fields: 0 0 1em 0;
    --margin-2-em: 2em;
}

li {
    list-style-type: none;
}

.grid-container-houses-lijst {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
    gap: 1em;
    margin: 2em;
}

.houses {
    width: 22em;
    padding: 0 0 0 3em;
    box-sizing: border-box;
    border: solid var(--gray) 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.styling-card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.image-size {
    width: 100%;
    object-fit: cover;
}


.image-house-data {
    padding-left: 0;
/*    de ul op padding 0 zetten zodat het in  1 lijn is met de rest van de kaartjes*/
}

.image-size, .user-profiles {
    width: 150px;
}

.users-section {
    margin: 2em;
}

.user-profiles {


}


@media (width >= 300px) {
    /*.image-house-data{*/
    /*    max-width: 6em;*/
    /*}*/
}


@media (width >= 600px) {

    /*.image-house-data{*/
    /*    max-width: 13em;*/
    /*}*/
    .image-size {
        width: 250px;
        object-fit: cover;

    }


}
