@font-face {
    font-family: "proximanova";
    src: url("/public/assets/font/ProximaNova-Regular_2607783814.otf");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: proximanova, sans-serif;
    width: 100%;
}

* {
    box-sizing: border-box;
}

/*https://brand.funda.nl/d/d9gw4zTPqYFU/brand-guide?#/basics-1/kleur*/
/*general*/
:root {
    --blue: #0042B3; /*huisstijl #0071B3 orgineel*/
    --white: #ffffff;
    --orange: #F7A100;
    --black: #333333;
    --gray: #dddddd;

    --margin-input-fields: 0 0 1em 0;
    --margin-2-em: 2em;
}

li {
    list-style-type: none;
}

.users-section {
    margin: 2em;
}

.user-profiles {
    width: 150px;
}


.user-profiles {


}

.grid-container-houses-lijst {
    display: grid;
    grid-template-columns: repeat(auto-fit, 22em);
    gap: 1em;
    margin: 2em;
}

.houses {
    width: 16em;
    padding: 0 0 0 3em;
    box-sizing: border-box;
    border: solid var(--gray) 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-house-data {
    padding-left: 0;
    /*padding left default op 0 zodat het recht komt te staan */
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    padding-right: 3em;
}

.image-size {
    width: 100%;
    object-fit: cover;
}


.child-li-house-card {
    height: 1em;
    /*    hoogte bepalen van de tekstbinnen de kaart van ieder li element*/
}

.green_icon {
    display: none;
}

.green_icon-open {
    display: block;
    width: 50px;
    margin-top: 2em;
    transition-duration: 2s;
    transition: opacity 0.5s ease-in-out; /* Transition for showing */
}
.submit-score{
    cursor: pointer;
}


@media (width >= 400px) {
    .houses {
        width: 22em;
    }

    .image-size {
        object-fit: cover;
    }

}


@media (width >= 600px) {

    .image-size {
        width: 250px;
        height: 183px;
        object-fit: cover;

    }


}
