@font-face {
    font-family: "proximanova";
    src: url("/public/assets/font/ProximaNova-Regular_2607783814.otf");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: proximanova, sans-serif;
    width: 100%;
}

* {
    box-sizing: border-box;
}

/*https://brand.funda.nl/d/d9gw4zTPqYFU/brand-guide?#/basics-1/kleur*/
/*general*/
:root {
    --blue: #0042B3; /*huisstijl #0071B3 orgineel*/
    --white: #ffffff;
    --orange: #F7A100;
    --black: #333333;
    --gray:#dddddd;

    --margin-input-fields: 0 0 1em 0;
    --margin-2-em: 2em;
}
li{
    list-style-type: none;
}
.houses{
    border: solid var(--gray) 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.image-house-data{
    /*margin-right: 2em;*/
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;max-width: 10em;
}

.sccore-seciton-range{
    /*margin-left: 2em;*/
    /*margin-right: 2em;*/
}
.image-size,.user-profiles{
    width: 150px;
}
.users-section{
    margin: 2em;
}
.user-profiles{


}

@media (width >= 300px) {
    .image-house-data{
        max-width: 20em;
    }
}



@media (width >= 600px) {

    .grid-container-houses-lijst{
        display: grid;
        /*grid-template-columns: repeat(2, fit-content(340px));*/
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        gap: 2em;
    }
    .image-house-data{
        max-width: 40em;
    }

    .image-size{
        width: 250px;
        object-fit: cover;

    }


}
