<%- include('./partials/head-score') %>
<section class="users-section-score">
    <h2>gebruikers</h2>
    <p>klik op je icoontje om je eigen lijst te zien nu zit je in de gezamelijke lijst</p>
    <img src="../images/geel.jpg" class="user-profiles" alt="user geel">
    <img src="../images/blauw.jpg" class="user-profiles" alt="user geel">
    <img src="../images/rood.jpg" class="user-profiles" alt="user geel">
    <img src="../images/groen.jpg" class="user-profiles" alt="user geel">
</section>

<h2 class="h2-score">score</h2>
<p class="p-score">hier kunt u een score geven over het huis </p>

<ul class="grid-scores">
    <li class="algemeen score-range">algmeen
        <input type="range" min="1" max="10" value="" class="algemeen" id="myRange"><span
                class="distance-score">score:</span>
        <span id="demo"> score: </span></li>

    <li class="keuken score-range">keuken <input type="range" min="1" max="10" value="0" class="slider"
                                                 id="keuken">
        <span class="distance-score">score:</span>
        <span id="keukenvalue">score:</span></li>

    <li class="score-range">badkamer <label for="badkamer"></label><input type="range" min="1" max="10" value="0" class="slider"
                                                                          id="badkamer">
        <span class="distance-score">score:</span>
        <span id="badkamervalue">score:</span></li>


    <li class="score-range">tuin <label for="tuin"></label><input type="range" min="1" max="10" value="0" class="slider" id="tuin">
        <span class="distance-score">score:</span>
        <span id="tuinvalue">score:</span></li>


    <li class="score-range">prijs <label for="prijs"></label><input type="range" min="1" max="10" value="0" class="slider" id="prijs">
        <span class="distance-score">score:</span>
        <span id="prijsvalue">score:</span></li>
    <li class="score-range">ligging <input type="range" min="1" max="10" value="0" class="slider" id="ligging">
        <span class="distance-score">score:</span>
        <span id="liggingvalue">score:</span></li>
    <li class="score-range">oppervlakte <input type="range" min="1" max="10" value="0" class="slider"
                                               id="oppervlakte"> <span class="distance-score">score:</span>
        <span id="oppervlaktevalue">score:</span></li>
</ul>


<ul class="grid-scores">
    <li class=""><label for="name">geef een naam voor custom rating:</label>
        <form method="POST" action="/" class="chatbox">
            <input type="text" id="name"  size="10" />
            <button type="submit" class="">verstuur naam rating</button>
        </form>
        <label for="myRange"></label><input type="range" min="1" max="10" value="" class="algemeen" id="myRange"><span
                class="distance-score">score:</span>
    </li>

</ul>
<h2 class="berichten-score">notities</h2>
<form method="POST" action="/" class="chatbox">
    <input type="hidden" value="<%= house.id %>">
    <label for="bericht">
        <textarea id="bericht" required name="bericht"></textarea>
    </label>
    <button type="submit" class="button-notes notes">laat je notite achter</button>

</form>

<h2 class="berichten-score">Hier zie je uw berichten</h2>
<ul class="output">
    <% messages.forEach(message =>{ %>
        <li class="message"><%= message %></li>
    <% }) %>
</ul>
</section>