<%- include('./partials/head-scoren') %>

<section class="users-section-score">
    <h2>gebruikers</h2>
    <p>klik op je icoontje om je eigen lijst te zien nu zit je in de gezamelijke lijst</p>
    <img src="../images/geel.jpg" class="user-profiles" alt="user geel">
    <img src="../images/blauw.jpg" class="user-profiles" alt="user geel">
    <img src="../images/rood.jpg" class="user-profiles" alt="user geel">
    <img src="../images/groen.jpg" class="user-profiles" alt="user geel">
</section>

<h2 class="h2-score">score</h2>
<p class="p-score">hier kunt u een score geven over het huis </p>




<ul class="grid-scores padding-score">
    <li class="algemeen score-range">algmeen
        <input type="range" min="1" max="10" value="" class="slider" id="myRange"><span class="distance-score">score:</span>
        <span id="demo">6</span></li>

    <li class="keuken score-range">keuken <input type="range" min="1" max="10" value="0" class="slider" id="keuken">
        <span class="distance-score">score:</span>
        <span id="keukenvalue">1</span></li>

    <li class="score-range">badkamer <input type="range" min="1" max="10" value="0" class="slider" id="badkamer">
        <span class="distance-score">score:</span>
        <span id="badkamervalue">1</span></li>


    <li class="score-range">tuin <input type="range" min="1" max="10" value="0" class="slider" id="tuin">
        <span class="distance-score">score:</span>
        <span id="tuinvalue">1</span></li>


    <li class="score-range">prijs <input type="range" min="1" max="10" value="0" class="slider" id="prijs">
        <span class="distance-score">score:</span>
        <span id="prijsvalue">1</span></li>
    <li class="score-range">ligging <input type="range" min="1" max="10" value="0" class="slider" id="ligging">
        <span class="distance-score">score:</span>
        <span id="liggingvalue">1</span></li>
    <li class="score-range">oppervlakte <input type="range" min="1" max="10" value="0" class="slider" id="oppervlakte"> <span class="distance-score">score:</span>
        <span id="oppervlaktevalue">1</span></li>
</ul>

<h2 class="berichten-score">notities</h2>
<form method="POST" action="/score/<%= house.id %>" class="chatbox">
    <input type="hidden" value="<%= house.id %>">
    <label for="bericht">
        <textarea id="test" required name="test"></textarea>
    </label>
    <button type="submit" class="button-notes notes">laat je notite achter</button>

</form>

<h2 class="berichten-score">Hier zie je uw berichten</h2>
<ul class="output">
    <% test.forEach(message =>{ %>
        <li class="message"><%= message %></li>
    <% }) %>
</ul>
</secti
