<% house1.forEach(house => { %>
    <li class="list border-top">de title van de lijst van uw favoriten huis :<%= house.title %></li>
    <li class="list">omschrijving van uw favoriten huis :<%= house.description %></li>
    <li class="list border-bottom">dit zijn uw huizen :<%= house.houses %></li>
<% }) %>